<button (click)="refreshData()">
Click to refresh
</button>

<div class="grid-container">
  <mat-table [dataSource]="gridData">
    <ng-container matColumnDef="CCode">
      <mat-header-cell *matHeaderCellDef>C Code</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.CCode }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="CorrectedValue">
      <mat-header-cell *matHeaderCellDef>Corrected Value</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.CorrectedValue }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="IncorrectValue">
      <mat-header-cell *matHeaderCellDef>Incorrect Value</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.IncorrectValue }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['CCode', 'CorrectedValue', 'IncorrectValue']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['CCode', 'CorrectedValue', 'IncorrectValue']"></mat-row>
  </mat-table>
</div>

<router-outlet />
