.collapsible {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.collapsible-header {
    width: 100%;
    padding: 15px;
    background-color: #002dfd;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.collapsible-header:hover {
    background-color: #106eef;
}

.collapsible-icon {
    font-size: 20px;
    font-weight: bold;
}

.collapsible-content {
    padding: 15px;
    background-color: #608db8;
    text-align: left;
}